
#==================
#GIT
#==================
.git

#==================
#Python
#==================
__pycache__/

#==================
#Data local
#==================
data/

#==================
#Log
#==================
*.log

#==================
#Credenciales GC
#==================
cred.json
