
#==================
#Archivos temporales
#==================
*.swp

#==================
#Entornos virtuales
#==================
venv/

#==================
#Python
#==================
__pycache__/
*.pyc

#==================
#Data local
#==================
data/raw/
data/transformed/

